body{
	font-size: 18px;
	font-family: 'Oxygen', sans-serif;
	color: #FFFFFF;
}

#header-nav {
  background-color: #FA9A85;
  border-radius: 0;
  border: 0;

  padding-bottom: 10px;
}
.navbar-brand {
  padding-top: 15px;
}
h1{
	color: #383838;
	margin: 30px;
}

.navbar-brand h1 { 
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
  color: #383838;
}



section{
	padding-bottom: 20px;
}

.jumbotron{
	background-color: #FA9A85;
	margin-bottom: 15px;
	padding: 0px;
}
button.navbar-toggle:hover, button.navbar-toggle:focus{
	background-color: #FA9A85;
	border: 1px solid #FFFFFF;
}
.jumbotron p{
	padding-top: 10px;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}